# An Ada library for other programs to build on.
template = ada-library
name = Ada Library
description = A library of Ada packages, built with Alire and tested with AUnit.
version = 1
category = library
language = Ada
tags = ada, library
includes = ada, alire, aunit, standard-development

input project_name
  type = identifier
  label = Library name
  description = the library's name, which is its root package's too
  required = true
  default = ${directory_name}

scalar project.kind = library
file alire.toml = name = "${project_name}"\ndescription = ""\nversion = "0.1.0-dev"\n
file src/${project_name}.ads = package ${project_name} is\nend ${project_name};\n
file ${project_name}.gpr = project ${project_name} is\n   for Library_Name use "${project_name}";\n   for Source_Dirs use ("src/");\n   for Object_Dir use "obj/";\n   for Library_Dir use "lib/";\n   for Create_Missing_Dirs use "True";\nend ${project_name};\n
